<!DOCTYPE html>
<head>
    <title>Scheduled A Time</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <div >
    <h1>Scheduled A Time</h1>
        <label>Name:</label> <%- name %>
        <br>
        <label>Email:</label> <%- email %>
        <br>
        <label>Background Information:</label> 
        <br>
        <%- info %>
        <br>
        <br>
        <label>Date:</label> <%- date %>
        <br>
        <label>Time:</label> <%- time %>
        <br>
        <label>Confirmed:</label> <%- confirmed %>
        <br><br>
     <button onclick="document.location = '/'" >HOME</button>
   
</div>
</body>
</html>